@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300&subset=latin,cyrillic);

 /* Общий код */

body {
    background: url(../images/background.jpg) fixed;
    padding-top: 10px;
    background-repeat: round;
}

/* Шапка */

#phelka {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px;
}

#name {
    text-align: center;
    font-family: 'Marck Script', cursive;
    color: black;
    font-size: 30px;
}

#p1 {
    padding: 10px 10px 0px 10px;
    text-align: center;
    text-decoration-color: black;
    font-family: 'Comfortaa', cursive;
    font-size: auto;
}

#Vazhnaya_info, #vazhno {
    display: inline-block;
    vertical-align: bottom;
}

/* Меню */

#open-menu {
    text-align: center;
    font-size: 30px;
    color: #333333;
}
    
.navbar-nav > li {
    text-align: center;
} 

/* Цвет фона и рамки навигационного меню */
.navbar-inverse {
    background: linear-gradient(to top, black, #333333);
    border-color: #333333;
    margin: 0px;
}

/* Текст пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    text-decoration-style: solid;
    text-decoration: underline;
    text-decoration-color: white;
    background-color: black;
    transition: all 0.5s ease-out;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > .active, 
.navbar-inverse .navbar-nav > .active:hover, 
.navbar-inverse .navbar-nav > .active:focus {
    color: white;
    background-color: black;
}

/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > .open, 
.navbar-inverse .navbar-nav > .open:hover, 
.navbar-inverse .navbar-nav > .open:focus {
    color: white;
    background-color: black;
}

/* Выпадающее меню */
@media (min-width: 768px) {
.dropdown:hover > .dropdown-menu { 
    display: block;
    transition: all 5s ease-out;
}
    
.navbar-inverse .dropdown-menu-right {
    padding: 0px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px; 
    background: linear-gradient(to top, black, #333333);
    
}
    
.navbar-inverse .dropdown-menu-right > div.container-fluid > li.vypadayushee_menu {
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 5px 0px 5px 0px;
}

.navbar-inverse .dropdown-menu-right > div.container-fluid > li.vypadayushee_menu > a {
    color: white;
}

.navbar .dropdown-menu-right > div.container-fluid > li.divider {
    margin: 3px 0px 3px 0px;
    padding: 0px;
    background-color: white;
}
    }

/* Расписание */

#raspisanie {
    background: url(../images/background-vazhnoe.jpg) fixed;
    background-repeat: round;
    padding: 30px 10px 10px 20px;
    text-align: center;
}

caption {
    text-align: center;
}

th {
    text-align: center;
}

div.tab-content {
    padding: 10px;
}

#ssylka_na_kratkoe_raspisanie {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 10px 0px;
}

hr {
    border-color: black;
}


div.tabs > .container-fluid {
    background-color: white;
}

div.container-fluid.hidden-lg.hidden-md.hidden-sm.col-xs-12 {
    background-color: white;
}

#r1 {
    background: linear-gradient(to bottom, red, #9A5044);
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px 10px 0px 0px;
}

#r2 {
    background: linear-gradient(to bottom, green, #559A45);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin: 0px 10px 0px 0px;
}

#r3 {
    background: linear-gradient(to bottom, blue, #3C5F9A);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin: 0px 10px 0px 0px;
}

#r4 {
    background: linear-gradient(to bottom, orange, #FFD261);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin: 0px;
}

.tabs .nav-tabs > li > a {
    color: white; 
}

li#r1.active > a,
li#r2.active > a,
li#r3.active > a,
li#r4.active > a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    background: inherit;
    border: none;
    margin: 0px;     
}

.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li > a:focus {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    background: inherit;
    border: none;
    margin: 0px;
}

p (not #p1) {
    text-align: center;
    text-decoration-color: black;
    margin: 20px;
}

h4 {
    text-decoration: underline;
    color: black;
}

div.modal {
    text-align: center;
}

.table > tbody > tr > td, 
.table-bordered > thead > tr > th {
    vertical-align: middle;
}

#collapse-1,
#collapse-2,
#collapse-3,
#collapse-4,
#collapse-5 {
    padding: 10px;
}


/* Для col-lg */

@media (min-width: 1200px) {
    
/* Шапка */ 

#Vazhnaya_info {
    background-image: url(../images/background-vazhnoe.jpg);
    background-repeat: round;
    border-color: black;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0px;
    border-left: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: solid solid none solid;
    min-height: 163px;
}
    
    /* Меню */
    
/* Пункт навигационного меню */
.navbar-inverse .navbar-nav > li > a {
    border-color: #333333;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    width: 234px;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
    
#responsive-menu,
#container-menu {
    padding: 0px;
    min-width: 1170px;
    min-height 70px;
}

li.nav {
    width: 234px;
    height: 70px;
}
    
    /* Выпадающее меню */

.navbar-inverse .dropdown-menu-right > div.container-fluid {
    padding: 5px;
    width: 351px;
}
    
tr {
    height: 57px;
}
    }
 

/* Для col-md */

@media (min-width: 992px) and (max-width: 1199px) {
    
/* Шапка */ 

#Vazhnaya_info {
    background-image: url(../images/background-vazhnoe.jpg);
    background-repeat: round;
    border-color: black;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0px;
    border-left: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: solid solid none solid;
    min-height: 130px;
}
    
    /* Меню */

/* Пункт навигационного меню */
.navbar-inverse .navbar-nav > li > a {
    border-color: #333333;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    width: 193px;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
    
#responsive-menu,
#container-menu {
    padding: 0px;
    min-width: 193px;
    min-height 70px;
}

li.nav {
    width: 193px;
    height: 70px;
}
    
    /* Выпадающее меню */

.navbar-inverse .dropdown-menu-right > div.container-fluid {
    padding: 5px;
    width: 482px;
}
    
tr {
    height: 77px;
}
    }


/* Для col-sm */

@media (max-width: 991px) and (min-width: 768px) {
    
/* Шапка */ 

#Vazhnaya_info {
    background-image: url(../images/background-vazhnoe.jpg);
    background-repeat: round;
    border-color: black;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0px;
    border-left: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: solid solid none solid;
    min-height: 130px;
}
    
    /* Меню */
 
/* Пункт навигационного меню */
.navbar-inverse .navbar-nav > li > a {
    border-color: #333333;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    width: 149px;
    height: 109px;
    display: table-cell;
    vertical-align: middle;
}
    
#responsive-menu,
#container-menu {
    padding: 0px;
    min-width: 748px;
    min-height 109px;
}

li.nav {
    width: 149px;
    height: 109px;
}
    
/* Выпадающее меню */

.navbar-inverse .dropdown-menu-right > div.container-fluid {
    padding: 5px;
    width: 445px;
}
    }

/* Для col-xs */

@media (max-width: 767px) {
    
/* Шапка */ 

#Vazhnaya_info {
    background-image: url(../images/background-vazhnoe.jpg);
    background-repeat: round;
    border-color: black;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0px;
    border-left: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: solid solid none solid;
    min-height: 130px;
}

    /* Меню */
.navbar-inverse .open .dropdown-menu-right  > div.container-fluid {
    padding: 0px;
    text-align: center;
    border-color: white;
    border-style: solid;
    border-width: 1px; 
    background: linear-gradient(to top, black, #333333);
    
}
    
.navbar-inverse .open .dropdown-menu-right > div.container-fluid > li.vypadayushee_menu {
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 5px 0px 5px 0px;
    
}

.navbar-inverse .open .dropdown-menu-right > div.container-fluid > li.vypadayushee_menu > a {
    color: white;
}

.navbar .open .dropdown-menu-right > div.container-fluid > li.divider {
    margin: 3px 0px 3px 0px;
    padding: 0px;
    background-color: white; 
    
}
    }
