@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300&subset=latin,cyrillic);
@import url(css_for_all.css);

/* Расписание */

#raspisanie {
    background: url(../images/background-vazhnoe.jpg) fixed;
    background-repeat: round;
    padding: 30px 10px 10px 20px;
    text-align: center;
    margin: 0px;
}

div.tab-content {
    padding: 10px;
}

#ssylka_na_kratkoe_raspisanie {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 10px 0px;
}

div.tabs > .container-fluid {
    background-color: white;
}

#r1 {
    background: linear-gradient(to bottom, red, #9A5044);
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px 10px 0px 0px;
}

#r2 {
    background: linear-gradient(to bottom, green, #559A45);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin: 0px 10px 0px 0px;
}

#r3 {
    background: linear-gradient(to bottom, blue, #3C5F9A);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin: 0px 10px 0px 0px;
}

#r4 {
    background: linear-gradient(to bottom, orange, #FFD261);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin: 0px;
}
 

.tabs .nav-tabs > li > a {
    color: white; 
}

li#r1.active > a,
li#r2.active > a,
li#r3.active > a,
li#r4.active > a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    background: inherit;
    border: none;
    margin: 0px;     
}

.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li > a:focus {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    background: inherit;
    border: none;
    margin: 0px;
}

p (not .p1) {
    text-align: center;
    text-decoration-color: black;
    margin: 20px;
}

.table > tbody > tr > td, 
.table-bordered > thead > tr > th {
    vertical-align: middle;
}

#collapse-1,
#collapse-2,
#collapse-3,
#collapse-4,
#collapse-5 {
    padding: 10px;
}

@media (min-width: 1200px) {
    
.table > tbody > tr > td, .table > thead > tr > th {
    height: 57px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
.table > tbody > tr > td, .table > thead > tr > th {
    height: 77px;
    }
}

