@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300&subset=latin,cyrillic);
@import url(css_for_all.css);

 

#opisanie {
    text-align: center;
    color: black;
    margin: 20px;
}


#predmety {
    background-image: url(../images/background-vazhnoe.jpg);
    background-position: fixed;
    background-repeat: round;
    padding: 30px 10px 10px 20px;
    text-align: center;    
}


#proshedsh_predmety {
    border-color: red;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

#proshedsh_predmety > ul {
    margin: 0px;
}

#proshedsh_predmety > ul > li > a {
    color: blueviolet;
}

#proshedsh_predmety_p {
    background: linear-gradient(to bottom, red, #9A5044);
    font-size: 16px;
    margin: 0px;
    padding: 20px;
    color: black;
}


#tecuchs_predmety {
    border-color: orange;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px; 
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

#tecuchs_predmety > ul {
    margin: 0px;
}

#tecuchs_predmety > ul > li > a {
    color: blueviolet;
}

#tecuchs_predmety_p {
    background: linear-gradient(to bottom, orange, #FFD261);
    font-size: 16px;
    margin: 0px;
    padding: 20px;
    color: black;
}


dl {
    margin: 0px 0px 15px 0px;
}

dd {
    text-align: left;
}

.btn-group, 
.btn-group-vertical {
    padding: 15px 0px;
}

.btn-group > button > a,
.btn-group-vertical > button > a {
    color: white;
}

@media (max-width: 768px) {
    
dd {
    text-align: center;
}    
    }
